{% extends "quotes_base.html" %}

{% block title %}| About{% endblock %}
{% block description %}Words on Art collects the words of musicians, writers, journalists, poets, painters and other artistic types to inspire creativity and remind us of beauty.{% endblock %}

{% block content %}
    <div id="about">
    <h2>About</h2>
    Hi, I'm <a href="https://www.anthonydebarros.com">Anthony DeBarros</a> and I made this site to a) teach myself the <a href="http://www.djangoproject.com">Django web framework</a> and b) to celebrate the words of musicians, writers, journalists, poets, painters and other artistic types that inspire creativity and remind us of beauty.<br/>
    <br/>
    This – apart from tutorials and book exercises – was my first Django application. Learning happens best when you ride the bike with no training wheels (I'd quote myself there, but that would be ... unseemly). Special thanks to <a href="https://www.stackoverflow.com">Stack Overflow</a>.<br/>
    <br/>
    <b>Colophon:</b><br/>
    + Font is <a href="https://fonts.google.com/specimen/Lusitana?query=Lusitana">Lusitana</a> from the Google Web Fonts API.<br/>
    + Hosting by <a href="https://my.opalstack.com/signup?lmref=MJKmdw">Opalstack</a>.<br/>
    </br>
    <b>Contact + Info:</b><br/>
    + Questions or suggestions? Please contact me via my <a href="https://www.practicalsql.com">book site</a>.<br/>
    + Other things I am building can be found on my <a href="/sandbox/">Sandbox page</a>.<br/>
    + Source code on <a href="https://github.com/anthonydb/sandbox-project/tree/master/quotes">Github</a>.<br/>
    </div>
{% endblock %}
