{% extends "booklist_base.html" %}

{% block title %}| Best-Selling Books API Demo{% endblock %}


{% block content %}
    <div id="main">
        <h2>Best-Selling Books API Demo</h2>
        <p>APIs are a wonderous resource. Make a request to a URL, get back some data. It just works!</p>
        <p>Some years ago, I managed data-gathering and analysis for the USA Today Best-Selling Books list,
            which sadly is <a href="https://booklist.usatoday.com/">on hiatus</a>. But I can still keep my eye on best-sellers by using an API from
            <a href="https://developer.nytimes.com/docs/books-product/1/overview">The New York Times</a>.</p>
        <p>The demo fetches two latest lists from its Books API:</p>
            <ul>
                <li><a href="/data-miscellany/booklist/nonfiction/">Nonfiction Bestsellers</a></li>
                <li><a href="/data-miscellany/booklist/fiction/">Fiction Bestsellers</a></li>
            </ul>
        <p>The API call as a Python function is <a href="https://github.com/anthonydb/sandbox/blob/main/data_miscellany/api.py">here</a>.</p>
    </div>

{% endblock %}
