{% extends "booklist_base.html" %}

{% block title %}| The New York Times Bestseller Lists{% endblock %}


{% block content %}
    <div id="main">
        <h2>The New York Times Bestseller Lists</h2>
        <p>This is a demo for using an API as a content resource. In this case,
            the book bestseller lists from The New York Times.</p>
            <ol>
                <li><a href="/data-miscellany/booklist/fiction/">Fiction Bestsellers</a></li>
                <li><a href="/data-miscellany/booklist/nonfiction/">Nonfiction Bestsellers</a></li>
            </ol>
    </div>

{% endblock %}
