{% extends "data_miscellany_base.html" %}

{% block title %}Data Miscellany | Anthony DeBarros{% endblock %}

{% block canonical %}https://anthonydebarros.com/data-miscellany/{% endblock %}

{% block description %}Miscellaneous data things I've been messing with.{% endblock %}

{% block og_title %}Data Miscellany - Anthony DeBarros{% endblock %}

{% block og_description %}Miscellaneous data things I've been messing with.{% endblock %}

{% block og_url %}https://anthonydebarros.com/data-miscellany/{% endblock %}

{% block content %}
    <div class="container">
      <article class="post">
        <h1 class="title">Data Miscellany</h1>
        <div class="the-content">

          <p>Miscellaneous data things I've been messing with:</p>
          <ul>
            <li>Visualizing <a href="/data-miscellany/visual-us-births/">births and deaths</a> in the United States with DataWrapper.</li>
            <li>Playing with APIs, such as one offering lists of <a href="booklist/">bestselling books</a>.</li>
          </ul>
          <p>Check out the <a href="/sandbox/">Sandbox</a> page too.</p>

        </div><!-- the-content -->
      </article>
    </div><!-- / container-->
{% endblock %}
