{% extends "base.html" %}

{% block title %}Page Not Found - Anthony DeBarros{% endblock %}
{% block canonical %}https://anthonydebarros.com/{% endblock %}
{% block og_title %}Page Not Found - Anthony DeBarros{% endblock %}
{% block og_url %}https://anthonydebarros.com/{% endblock %}

{% block extra_head %}
    <meta property="article:modified_time" content="2022-12-20T01:06:03+00:00" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="1 minute" />
{% endblock %}

{% block content %}
    <div class="container">
        <article class="post">
            <h1 class="title">Page Not Found</h1>
            <div class="the-content">

                <p><strong>Sorry! It looks like the page you're looking for isn't active here any longer.</strong></p>
                <p>Maybe one of these is of interest:</p>
                <ul>
                    <li><a href="/about/">About me</a></li>
                    <li><a href="/sandbox/">Sandbox home (demo apps)</a></li>
                    <li><a href="https://www.practicalsql.com">Practical SQL: A Beginner's Guide to Storytelling with Data</a></li>
                </ul>

            </div><!-- the-content -->
        </article>
    </div><!-- / container-->
{% endblock %}
