<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5MLD8S5');</script>
        <!-- End Google Tag Manager -->

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="me" href="https://opalstack.social/@anthonydb">

        <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
        <meta name="google-site-verification" content="3cXq7qpM2caPBH74yvmYJYdTIw18jO5ESgpf1JNMRTw" />

        <title>About - Anthony DeBarros</title>
        <link rel="canonical" href="https://anthonydebarros.com/about/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="About - Anthony DeBarros" />
        <meta property="og:description" content="My name is Anthony DeBarros. I&#8217;m the author of Practical SQL: A Beginner&#8217;s Guide to Storytelling with Data from No Starch Press, now in its 2nd edition. I&#8217;m a longtime data journalist, writing code to find news in data. At The Wall Street Journal, I help cover topics including trade, the economy, demographics, and Covid-19. [&hellip;]" />
        <meta property="og:url" content="https://anthonydebarros.com/about/" />
        <meta property="og:site_name" content="Anthony DeBarros" />
        <meta property="article:modified_time" content="2022-12-20T01:06:03+00:00" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@anthonydb" />
        <meta name="twitter:label1" content="Est. reading time" />
        <meta name="twitter:data1" content="1 minute" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />

        <link rel='stylesheet' id='google-fonts-css' href='https://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans:400,700|PT+Serif:400,700|Fira+Sans:400,200|Roboto:400,700' type='text/css' media='all' />
        <link rel='stylesheet' id='open-sans-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;display=fallback&#038;ver=6.1.1' type='text/css' media='all' />

    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MLD8S5"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
            
    <div class="container">
        <article class="post">
            <h1 class="title">Anthony DeBarros</h1>
            <div class="the-content">
                        
            <p>I was born into a Portuguese-Italian family just north of New York City and found a love for books, music, and writing early in life.
                Only later did I find an aptitude for computing and working with data. I&#8217;m glad I did—writing code, counting things, and telling stories about what turned up has become both a career and a lot of fun.</p>
            <p>For more than two decades, I&#8217;ve been a &#8220;data journalist,&#8221; combing through spreadsheets, building databases, scraping websites and sorting numbers to find news in data. For the past five years, I&#8217;ve 
                worked at <strong><a href="https://www.wsj.com/news/author/anthony-debarros" rel="nofollow">The Wall Street Journal</a></strong>, where I work with reporters covering world trade, the economy, demographics, and money in politics.</p>
            <p>My book, <strong><a href="https://nostarch.com/practical-sql-2nd-edition/" rel="nofollow">Practical SQL: A Beginner&#8217;s Guide to Storytelling with Data</a></strong>, teaches basic-to-advanced SQL plus data analysis techniques I&#8217;ve learned—sometimes the hard way. Thanks to my publisher, No Starch Press, we&#8217;re on a second edition with translations in Korean, traditional Chinese and Polish. </p>
            <p>In the past:</p>
            <p>I&#8217;ve been a team leader, product manager and/or data journalist for USA Today, Questex, the Poughkeepsie Journal, and DocumentCloud. I also flipped burgers at McDonald's and did a stint as a DJ on a rock music station.</p>
            <p>My work has received <strong><a href="/awards/">honors</a></strong> including a Silver Baton from the Alfred I. duPont-Columbia University Awards.</p>
            <p>If you'd like to get in touch, please see the <a href="https://www.practicalsql.com/get-help.html">Get Help</a> page on my book website.</p>
            <p><strong>Colophon</strong><br>Web hosting: <a href="https://opalstack.com/?lmref=MJKmdw">Opalstack</a>
                <br>Body font: <a rel="noopener noreferrer" href="https://fonts.google.com/specimen/PT+Serif" target="_blank">PT Serif</a>
                <br>Headlines: <a rel="noopener noreferrer" href="https://fonts.google.com/specimen/Fira+Sans" target="_blank">Fira Sans</a></p>
                <p>Content does not reflect the views of employers past or present.</p>

                <p><strong>Privacy Policy</strong><br>Read this site&#8217;s privacy policy <a href="/privacy/">here</a>.</p>
                </div><!-- the-content -->
            </article>
    </div><!-- / container-->


    <footer class="site-footer" role="contentinfo">
        <div class="site-info container">
                    <p><a href="https://www.anthonydebarros.com">Home</a> | <a href="https://www.anthonydebarros.com/sandbox/">Sandbox</a> | <a href="https://www.practicalsql.com">Book</a> | <a href="https://www.anthonydebarros.com/about/">About</a><br/>
                        Copyright 2023 Anthony DeBarros<br />
            Hosted by <a href="https://my.opalstack.com/signup?lmref=MJKmdw" style="color: #a9a9a9;">Opalstack</a><br />
            <a href="/privacy" style="color: #a9a9a9;">Privacy Policy</a></p>
        </div><!-- .site-info -->
    </footer><!-- #colophon .site-footer -->

    </body>
</html>
