{% extends "base.html" %}

{% block title %}About - Anthony DeBarros{% endblock %}
{% block canonical %}https://anthonydebarros.com/about/{% endblock %}
{% block description %}My name is Anthony DeBarros. I'm the author of Practical SQL from No Starch Press and a longtime data journalist.{% endblock %}
{% block og_title %}About - Anthony DeBarros{% endblock %}
{% block og_description %}My name is Anthony DeBarros. I&#8217;m the author of Practical SQL: A Beginner&#8217;s Guide to Storytelling with Data from No Starch Press, now in its 2nd edition. I&#8217;m a longtime data journalist, writing code to find news in data. At The Wall Street Journal, I help cover topics including trade, the economy, demographics, and elections. [&hellip;]{% endblock %}
{% block og_url %}https://anthonydebarros.com/about/{% endblock %}

{% block extra_head %}
    <meta property="article:modified_time" content="2022-12-20T01:06:03+00:00" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="1 minute" />
{% endblock %}

{% block content %}
    <div class="container">
        <article class="post">
            <h1 class="title">Anthony DeBarros</h1>
            <div class="the-content">

            <p>I was born into a Portuguese-Italian family just north of New York City. Early on, I found a love for books, music, and writing and, after I bought my first
                computer, I discovered that I was equally fascinated with hardware and software. I've been fortunate to combine all those interests in a trade called data journalism.</p>
            <p>For more than two decades, I&#8217;ve combed through spreadsheets, built databases, scraped websites and sorted numbers to find news in data. For the past {{ years_elapsed }} years, I&#8217;ve
                worked at <strong><a href="https://www.wsj.com/news/author/anthony-debarros" rel="nofollow">The Wall Street Journal</a></strong>, where I collaborate with reporters covering elections, money in politics, the economy and demographics.</p>
            <p>My book, <strong><a href="https://nostarch.com/practical-sql-2nd-edition/" rel="nofollow">Practical SQL: A Beginner&#8217;s Guide to Storytelling with Data</a></strong>, teaches basic-to-advanced SQL plus data analysis techniques I&#8217;ve learned—sometimes the hard way. Thanks to my publisher, No Starch Press, we&#8217;re on a second edition with translations in Korean, traditional Chinese and Polish. </p>
            <p>In the past:</p>
            <p>I&#8217;ve been a team leader, product manager and/or data journalist for USA Today, Questex, the Poughkeepsie Journal, and DocumentCloud. I also flipped burgers at McDonald's and did a stint as a DJ on a rock music station.</p>
            <p>My work has received <strong><a href="/awards/">honors</a></strong> including a Silver Baton from the Alfred I. duPont-Columbia University Awards.</p>
            <p>If you'd like to get in touch, please see the <a href="https://www.practicalsql.com/get-help.html">Get Help</a> page on my book website.</p>
            <p><strong>Colophon</strong><br>Web hosting: <a href="https://opalstack.com/?lmref=MJKmdw">Opalstack</a>
                <br>Body font: <a rel="noopener noreferrer" href="https://fonts.google.com/specimen/PT+Serif" target="_blank">PT Serif</a>
                <br>Headlines: <a rel="noopener noreferrer" href="https://fonts.google.com/specimen/Fira+Sans" target="_blank">Fira Sans</a></p>
            <p>Content does not reflect the views of employers past or present.</p>
            <p><strong>Privacy Policy</strong><br>Read this site&#8217;s privacy policy <a href="/privacy/">here</a>.</p>

            </div><!-- the-content -->
        </article>
    </div><!-- / container-->
{% endblock %}
