<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5MLD8S5');</script>
        <!-- End Google Tag Manager -->

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="me" href="https://opalstack.social/@anthonydb">

        <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
        <meta name="google-site-verification" content="3cXq7qpM2caPBH74yvmYJYdTIw18jO5ESgpf1JNMRTw" />

        <title>Awards - Anthony DeBarros</title>
        <link rel="canonical" href="https://anthonydebarros.com/awards/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Projects - Anthony DeBarros" />
        <meta property="og:description" content="I&#8217;ve been fortunate to have some of my work recognized with awards. [&hellip;]" />
        <meta property="og:url" content="https://anthonydebarros.com/awards/" />
        <meta property="og:site_name" content="Anthony DeBarros" />
        <meta property="article:modified_time" content="2023-02-20T01:06:03+00:00" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@anthonydb" />
        <meta name="twitter:label1" content="Est. reading time" />
        <meta name="twitter:data1" content="1 minute" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />

        <link rel='stylesheet' id='google-fonts-css' href='https://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans:400,700|PT+Serif:400,700|Fira+Sans:400,200|Roboto:400,700' type='text/css' media='all' />
        <link rel='stylesheet' id='open-sans-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;display=fallback&#038;ver=6.1.1' type='text/css' media='all' />

    </head>

    <body class="page-template-default page page-id-2">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MLD8S5"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    <div class="container" style="padding: 50px 0 0 0;">

        <div id="primary">
            <div id="content" role="main">
                <article class="post">
                    <h1 class="title">Awards</h1>
                    <div class="the-content">

                        <p>I&#8217;ve been fortunate to have some of my work recognized with awards. These efforts were rarely a solo affair, and many reflect collaborations with colleagues past and present.</p>
                        <p><a href="https://www.wsj.com/articles/u-s-population-growth-slows-birth-rate-decline-economic-risk-11627231536"><strong>U.S. Population Growth, an Economic Driver, Grinds to a Halt</strong></a>, The Wall Street Journal, 2021. Data analysis and reporting with Janet Adamy.</p>
                        <ul><li><strong><a href="https://spjdc.org/2022/06/dateline-awards-2022-finalists-winners/">Washington, DC, Chapter of the Society of Professional Journalists Dateline Awards.</a></strong> One of five stories in a staff portfolio entry that won the Non-Breaking News category.</li></ul>
                        <p><a href="https://www.wsj.com/graphics/where-did-the-biggest-ppp-loans-go/"><strong>Where Did the Biggest PPP Loans Go?</strong></a> The Wall Street Journal, 2020. Contributed data analysis and editing. </p>
                        <ul><li><strong><a href="https://spjdc.org/2021/06/4981/">Washington, DC, Chapter of the Society of Professional Journalists Dateline Awards.</a></strong> Winner of the Infographic category. Congrats to colleagues Yan Wu and Vivien Ngo for their visualization work.</li><li><a href="https://www.prnewswire.com/news-releases/2021-gerald-loeb-award-finalists-career-achievement-honorees-and-date-of-virtual-awards-event-announced-by-ucla-anderson-301370573.html"><strong>2021 Gerald Loeb Award Finalist.</strong></a> Part of the WSJ visuals portfolio cited in the visual storytelling category.</li></ul>
                        <p><strong><a href="https://www.wsj.com/graphics/china-emergence-of-a-trade-leviathan/">China: Emergence of a Trade Leviathan</a></strong>, The Wall Street Journal, 2018. Data analysis, reporting and project management.</p>
                        <ul><li><strong><a href="https://datajournalismawards.org/2019-shortlist/">Data Journalism Awards</a></strong>. Included in the &#8220;Wall Street Journal data and graphics&#8221; collection that made the Shortlist for Best Data Journalism Team Portfolio (Large Newsroom) and Data Journalism Website of the Year.</li><li><strong><a href="https://www.nypressclub.org/images/2019/2019-awards.pdf">New York Press Club Awards for Journalism</a>. </strong>Included in the &#8220;WSJ Graphics Portfolio,&#8221; winner in the Infographics category.</li></ul>
                        <p><strong><a rel="noopener noreferrer" href="http://www.desmoinesregister.com/pages/interactives/harvest-of-change/" target="_blank">Harvest of Change</a>,&nbsp;</strong>The Des Moines Register and Gannett Digital, 2014. Producer.</p>
                        <ul><li><strong>Edward R. Murrow Awards. </strong>&#8220;Harvest of Change,&#8221;&nbsp;the first Oculus Rift-based virtual reality project by a major news organization, received a Murrow Award for Use of Video.</li><li><strong>National Press Foundation Awards.&nbsp;</strong>Best Use of Technology in Journalism.</li></ul>
                        <p><a href="http://masskillings.usatoday.com"><strong>Behind the Bloodshed: The Untold Story of America&#8217;s Mass Killings</strong></a>, USA TODAY/Gannett Digital, 2013. Design, content and project management. Team with Paul Overberg, Meghan Hoyer, Jodi Upton, Juan Thomassie, Destin Frasier, et al.</p>
                        <ul><li><strong>National Headliner Awards.</strong>&nbsp;First place, Journalistic Innovation (team).</li></ul>
                        <p><b>Ghost Factories: Poison in the Ground</b>, USA TODAY, 2012. Data analysis and programming. Team with Alison Young, et al.</p>
                        <ul><li><b><a href="https://news.columbia.edu/news/graduate-school-journalism-announces-14-winners-2013-alfred-i-dupont-columbia-awards">Alfred I. duPont-Columbia University Awards</a>. </b>Silver baton.</li><li><b>Associated Press Media Editors,</b> Journalism Excellence Awards. First Place, Digital Storytelling and Reporting.</li><li><b>Barlett &amp; Steele Awards for Investigative Journalism. </b>Silver Award.</li><li><b>Casey Medal For Meritorious Journalism</b>.<b> </b>Runner-up, multimedia.</li><li><b>Editor &amp; Publisher,</b> Eppy Awards. Finalist (team), Best Investigative/Enterprise Feature on a Website with 1 million unique monthly visitors and over.</li><li><b>Gerald Loeb Awards. </b>Online winner.</li><li><b>Hillman Prize for Web Journalism</b>.</li><li><b>National Academy of Sciences. </b>Online winner, Keck Futures Initiative Communication Awards.</li></ul>
                        <p><b>Investigative Reporters and Editors.&nbsp;</b>IRE Service Award, 2012. For making Census 2010 data easily available to IRE member-journalists. With Paul Overberg.</p>
                        <p><b>Trouble on the Tray</b>, USA TODAY, 2009. Data analysis. Team with Blake Morrison and Peter Eisler.</p>
                        <ul><li><b>Association of Food Journalists,</b>&nbsp;First Place, Best Newspaper Special Food Project.</li><li><b>Education Writers Association</b>, National Awards for Education Reporting<b>.&nbsp;</b>First Prize, Investigative Reporting (Large Media)</li></ul>
                        <p><b>First Year in College is the Riskiest</b>, USA TODAY, 2006. Data analysis and reporting. With Robert Davis.</p>
                        <ul><li><b>Missouri Lifestyle Journalism Awards,</b>&nbsp;First Place, Consumer Affairs.</li></ul>
                        <p><b>Park Safety Rules Lax</b>, USA TODAY, 2000. Data analysis and reporting. With Gene Sloan.</p>
                        <ul><li><b>Missouri Lifestyle Journalism Awards,</b>&nbsp;Finalist, Consumer Affairs.</li></ul>
                        <p><b>The School Construction Divide</b>, USA TODAY, 1999. Data analysis and reporting. With Tamara Henry.</p>
                        <ul><li><b>Education Writers Association</b>, National Awards for Education Reporting<b>.&nbsp;</b>Special Citation, News Feature or Issue Package</li><li><b>The Association of Education Publishers</b>, Distinguished Achievement Award Finalist</li></ul>
                        <p><b>The Center for Education Reform.&nbsp;</b>Excellence in Journalism Award, First Place (team), for&nbsp;<i>Learning Curve I: A Yearlong Poughkeepsie Journal Project</i>, 1997.<b></b></p>
                        <p><b>New York State Associated Press Association Writing Contest.</b>&nbsp;First Place, Business/Finance, 1995, for&nbsp;<i>Cirrus Logic.</i></p>
                        <p><b>Company:&nbsp;</b>USA TODAY Enterprise All-Star Team member (1999, 2000); Employee of the Year,<i>&nbsp;</i>Poughkeepsie Journal (December 1989).</p>
                        
                        


                    </div><!-- the-content -->
                 </article>
            </div><!-- #content .site-content -->
        </div><!-- #primary .content-area -->
    </div><!-- / container-->


    <footer class="site-footer" role="contentinfo">
        <div class="site-info container">
            <p><a href="https://www.anthonydebarros.com">Home</a> | <a href="https://www.anthonydebarros.com/sandbox/">Sandbox</a> | <a href="https://www.practicalsql.com">Book</a> | <a href="https://www.anthonydebarros.com/about/">About</a><br/>
                Copyright 2023 Anthony DeBarros<br />
            Hosted by <a href="https://my.opalstack.com/signup?lmref=MJKmdw" style="color: #a9a9a9;">Opalstack</a><br />
            <a href="/privacy/" style="color: #a9a9a9;">Privacy Policy</a></p>
        </div><!-- .site-info -->
    </footer><!-- #colophon .site-footer -->

    </body>
</html>
