<footer class="site-footer" role="contentinfo">
    <div class="site-info container">
                <p><a href="https://www.anthonydebarros.com">Home</a> | <a href="https://www.anthonydebarros.com/sandbox/">Sandbox</a> | <a href="https://www.practicalsql.com">Book</a> | <a href="https://www.anthonydebarros.com/about/">About</a><br/>
                    Copyright {% now "Y" %} Anthony DeBarros<br />
        Hosted by <a href="https://my.opalstack.com/signup?lmref=MJKmdw" style="color: #a9a9a9;">Opalstack</a><br />
        <a href="/privacy" style="color: #a9a9a9;">Privacy Policy</a></p>
    </div><!-- .site-info -->
</footer><!-- #colophon .site-footer -->