<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5MLD8S5');</script>
        <!-- End Google Tag Manager -->

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="me" href="https://opalstack.social/@anthonydb">

        <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
        <meta name="google-site-verification" content="3cXq7qpM2caPBH74yvmYJYdTIw18jO5ESgpf1JNMRTw" />
    
        <title>Anthony DeBarros</title>
        <link rel="canonical" href="https://anthonydebarros.com/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Anthony DeBarros" />
        <meta property="og:url" content="https://anthonydebarros.com/" />
        <meta property="og:description" content="Anthony DeBarros is a journalist and author of the book 'Practical SQL' " />
        <meta property="og:site_name" content="Anthony DeBarros" />
        <meta property="article:modified_time" content="2021-09-06T19:25:50+00:00" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@anthonydb" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
        <link rel='stylesheet' id='google-fonts-css' href='https://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans:400,700|PT+Serif:400,700|Fira+Sans:400,200|Roboto:400,700' type='text/css' media='all' />
    </head>

    <body class="home page-template page-template-splash page-template-splash-php page page-id-2628" style="background: url('{% static 'porto_2018_boat_cpx_b-scaled.jpg' %}'); background-size: cover;">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MLD8S5"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    <header id="masthead" class="site-header" role="banner">
        <div class="container">

        </div><!--/container -->

    </header><!-- #masthead .site-header -->

    <div class="container">
        <div id="primary">

            <div id="content" role="main">
            <article class="post">
                <h1 class="splash-text">Anthony DeBarros</h1>
                <div id="button-block">
                    <a class="clear-button" href="https://www.practicalsql.com" target="_blank">Book</a>
                    <a class="clear-button" href="/about/">About</a>
                    <a class="clear-button" href="/sandbox/">Sandbox</a>

                </div>
            </article>
            </div><!-- #content .site-content -->

        </div><!-- #primary .content-area -->
    </div><!-- / container-->


    <footer class="site-footer" role="contentinfo">
        <div class="site-info container">
                </div><!-- .site-info -->
    </footer><!-- #colophon .site-footer -->

    </body>
</html>
