{% extends "base.html" %}

{% block title %}Privacy Policy - Anthony DeBarros{% endblock %}
{% block canonical %}https://anthonydebarros.com/privacy/{% endblock %}
{% block description %}Privacy policy for anthonydebarros.com.{% endblock %}
{% block og_title %}Privacy - Anthony DeBarros{% endblock %}
{% block og_description %}Privacy policy.{% endblock %}
{% block og_url %}https://anthonydebarros.com/privacy/{% endblock %}

{% block extra_head %}
    <meta property="article:modified_time" content="2022-12-20T01:06:03+00:00" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="1 minute" />
{% endblock %}

{% block content %}
    <div class="container">
        <article class="post">
            <h1 class="title">Privacy Policy</h1>
            <div class="the-content">

                <h4>This Site</h4>
                <p>This is the personal website of Anthony DeBarros, a journalist and author. The website address is <a href="https://anthonydebarros.com">https://anthonydebarros.com</a></p>

                <h4>Personal Data Collected and Purpose</h4>
                <p><b>1. Analytics</b><br>
                This site uses Google Analytics to monitor site traffic and user behavior on-site. No data is shared. Data collected through Google Analytics is retained for 50 months and then discarded using that service's automatic retention feature.</p>
                <p><b>2. User Submissions/Input</b><br>
                Applications on this site may ask for user submissions or input (e.g. search terms, your email address, etc.) in order to perform functions (e.g., a database search) or to record user-generated content submissions.</p>

                <h4>Sharing of Data</h4>
                <p>Aside from the analytics services noted in the above section, the site shares your data with no one.</p>

                <h4>Data Retention</h4>
                <p>Information supplied via user-submission forms may be retained as long as is reasonable to provide a reply, resolution, or other proper communication to you, or to provide for the functioning of an application on the site.</p>

            </div><!-- the-content -->
        </article>
    </div><!-- / container-->
{% endblock %}
