{% extends "base.html" %}

{% block title %}Sandbox - Anthony DeBarros{% endblock %}
{% block canonical %}https://anthonydebarros.com/sandbox/{% endblock %}
{% block description %}I write a lot of code for work, but when I have time I like to experiment for fun.{% endblock %}
{% block og_title %}Sandbox - Anthony DeBarros{% endblock %}
{% block og_description %}I write a lot of code for work, but when I have time I like to experiment for fun.{% endblock %}
{% block og_url %}https://anthonydebarros.com/sandbox/{% endblock %}

{% block extra_head %}
    <meta property="article:modified_time" content="2022-12-20T01:06:03+00:00" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="1 minute" />
{% endblock %}

{% block content %}
    <div class="container">
        <article class="post">
            <h1 class="title">Sandbox</h1>
            <div class="the-content">

                <p>I write a lot of code for work, but when I have time I like to experiment for fun. This site is a tech sandbox of sorts where I try out ideas or codify what I've learned so I can reference it later. Some of the projects:</p>
                <p><strong><a href="/">This Site</a></strong> itself is a long-term hobby project built using the Django web framework. The code for the main site and the sub-apps is on <a href="https://github.com/anthonydb/sandbox">GitHub</a>.</p>
                <p><strong><a href="../sotu/search/">U.S. Presidents' Speeches to Congress</a></strong><br>
                Search nearly 90 speeches delivered by U.S. presidents to Congress—mostly State of the Union addresses but a few others too. The app uses PostgreSQL's <a href="https://www.postgresql.org/docs/current/textsearch.html">full-text search engine</a>, <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://django-crispy-forms.readthedocs.io/en/latest/">django-crispy-forms</a> to search speeches and display results.</p>
                <p><strong><a href="../words/">Words on Art</a></strong><br>
                A simple collection of quotes by writers, musicians and artists. It's a Django app that tries for a minimalist art-installation take on a blog platform.</p>
                <p><strong>Data Miscellany</strong><br>
                Grab bag of data-technique tryouts. <a href="../data-miscellany/visual-us-births/">Visualizing U.S. births</a> using Datawrapper. <a href="../data-miscellany/booklist/nonfiction/">Fetching best-selling books</a> from a data API.</p>

            </div><!-- the-content -->
        </article>
    </div><!-- / container-->
{% endblock %}
