<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5MLD8S5');</script>
        <!-- End Google Tag Manager -->

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="me" href="https://opalstack.social/@anthonydb">

        <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
        <!-- Jetpack Site Verification Tags -->
        <meta name="google-site-verification" content="3cXq7qpM2caPBH74yvmYJYdTIw18jO5ESgpf1JNMRTw" />

        <title>Sandbox - Anthony DeBarros</title>
        <link rel="canonical" href="https://anthonydebarros.com/sandbox/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Sandbox - Anthony DeBarros" />
        <meta property="og:description" content="I write a lot of code for work, but when I have time I like to experiment for fun." />
        <meta property="og:url" content="https://anthonydebarros.com/sandbox/" />
        <meta property="og:site_name" content="Anthony DeBarros" />
        <meta property="article:modified_time" content="2022-12-20T01:06:03+00:00" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@anthonydb" />
        <meta name="twitter:label1" content="Est. reading time" />
        <meta name="twitter:data1" content="1 minute" />

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />

        <link rel='stylesheet' id='google-fonts-css' href='https://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans:400,700|PT+Serif:400,700|Fira+Sans:400,200|Roboto:400,700' type='text/css' media='all' />
        <link rel='stylesheet' id='open-sans-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;display=fallback&#038;ver=6.1.1' type='text/css' media='all' />

    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MLD8S5"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

    <div class="container">
        <article class="post">
            <h1 class="title">Sandbox</h1>
            <div class="the-content">

                <p>I write a lot of code for work, but when I have time I like to experiment for fun. This site is a tech sandbox of sorts where I try out ideas or codify what I've learned so I can reference it later. Some of the projects:</p>
                <p><strong><a href="/">This Site</a></strong> itself is a long-term hobby project built using the Django web framework. The code for the main site and the sub-apps is on <a href="https://github.com/anthonydb/sandbox">GitHub</a>.</p>
                <p><strong><a href="../sotu/search/">U.S. Presidents' Speeches to Congress</a></strong><br>
                Search nearly 90 speeches delivered by U.S. presidents to Congress—mostly State of the Union addresses but a few others too. The app uses PostgreSQL's <a href="https://www.postgresql.org/docs/current/textsearch.html">full-text search engine</a>, <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://django-crispy-forms.readthedocs.io/en/latest/">django-crispy-forms</a> to search speeches and display results.</p>
                <p><strong><a href="../words/">Words on Art</a></strong><br>
                A simple collection of quotes by writers, musicians and artists. It's a Django app that tries for a minimalist art-installation take on a blog platform.</p>
                <p><strong>Data Miscellany</strong><br>
                Grab bag of data-technique tryouts. <a href="../data-miscellany/visual-us-births/">Visualizing U.S. births</a> using Datawrapper. <a href="../data-miscellany/booklist/nonfiction/">Fetching best-selling books</a> from a data API.</p> 
            </div><!-- the-content -->
            </article>
    </div><!-- / container-->

    <footer class="site-footer" role="contentinfo">
        <div class="site-info container">
            <p><a href="https://www.anthonydebarros.com">Home</a> | <a href="https://www.anthonydebarros.com/sandbox/">Sandbox</a> | <a href="https://www.practicalsql.com">Book</a> | <a href="https://www.anthonydebarros.com/about/">About</a><br/>
                Copyright 2023 Anthony DeBarros<br />
            Hosted by <a href="https://my.opalstack.com/signup?lmref=MJKmdw" style="color: #a9a9a9;">Opalstack</a><br />
            <a href="/privacy-policy" style="color: #a9a9a9;">Privacy Policy</a></p>
        </div><!-- .site-info -->
    </footer><!-- #colophon .site-footer -->

    </body>
</html>
